body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", Times, serif;
	font-weight: 400;
	color: #6f6f6f;
	text-transform: none;
}
#chart {
	width: 600px;
	height: 750px;
}
circle {
	stroke: #fff;
}
.focusCircle {
	stroke-width: 2;
    stroke: #000;
}

ul {
	list-style: none;
}

hr {
	margin: 0px;
}
.column_left {
	top: -40px;
}
.column_right {
	top: -80px;
}
.montos-list {
	padding-left: 0px;
}

#scaleKey {
	width: 100%;
	height: 70px;
}
#scaleKey .CirculoEscala {
	stroke-width: 1;
    stroke: #999;
    /*stroke-dasharray: 2 2;*/
    fill: none;
}

.colorSwatches {
	padding-left: 35px;
    margin-bottom: 0px;
}
.colorSwatches li {
	width: 20px;
    height: 20px;
    border-bottom: solid white 1px;
}
.none {
	background-color: #006d2c;
}
.highUp {
	background-color: #2ca25f;
}
.highMedium {
	background-color: #66c2a4;
}
.highDown {
	background-color: #b2e2e2;
}
.neutral {
	background-color: #b3b3b3;
}
.lowUp {
	background-color: #fdcc8a;
}
.lowMedium {
	background-color: #fc8d59;
}
.lowDown {
	background-color: #e34a33;
}

.colorTicks {
	width: 40px;
	margin-right: 2px;
	margin-bottom: 0px;
	padding-left: 25px;
}
.colorTicks li {
	height: 20px;
    border-bottom: solid #CCC 1px;
}
.colorLabels {
	padding-left: 30px;
}
.colorLabels li {
    font-size: 10px;
    line-height: 0.95em;
    padding: 9px 0 0 0!important;
    margin: 2px 0 0 0;
}
.info-percentage {
    position: relative;
    z-index: 10;
    float: right;
    height: 60px;
}
#sel_percentage {
	text-align: center;
}

#graph_2 div {
	width: 100%;
	border-top: solid 1px #ddd;
	padding-top: 10px;
	margin-bottom: 0px;
}
#graph_2 h5 {
	text-align: center;
	color: #000;
}
#graph_2 h5:first-child {
	border-top: none;
}

#graph_2 div:nth-child(4) {
	float: left;
	border-right: solid 1px #ddd;
}
#graph_2 div:nth-child(4),
#graph_2 div:nth-child(5) {
	width: 50%;
	height: 7em;
}
#graph_2 div:nth-child(5) {
	float: right;
}
#graph_2 div:nth-child(6) {
	width: 100%;
	clear: left;
}

#graph_2 p {
	text-align: center;
	color: #111;
}
.credits blockquote {
	font-size: 10px;
}

.hideSector{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

.showSector{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}